.bg-style{
    background-image:linear-gradient(#bcbcc0, #c7c5ec);
   
   
}

.service-card{
    
    padding: 10px 20px;
   
}
.title{
    color: rgb(236, 114, 26);
    font-weight: 700;
    padding-top: 20px 0;
}
/* .single-card{
   
    margin: 10px;
   
} */
